{% extends "myapp/index.html" %}

{% block content %}
{% if user.is_authenticated %}
<li>User: {{ user.get_username }}</li>
<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
{% else %}
<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
{% endif %}

<a href="http://127.0.0.1:8000/one" class="as" font-size = "50px">1</a>
<a href="http://127.0.0.1:8000/two" class="as" font-size = 50px;>2</a>
<a href="http://127.0.0.1:8000/tre" class="as" font-size = 50px;>3</a>
<a href="http://127.0.0.1:8000/form" class="as" font-size = 50px;>f</a>
<a href="http://127.0.0.1:8000/post" class="as" font-size = 50px;>p</a>
<a href="http://127.0.0.1:8000/accounts/login/" class="as" font-size = 50px;>r</a>
{% endblock %}