{% extends "myapp/index.html" %}
{% load static %}
{% block content %}
<div id="mainThree">
    <div id="mainThreeText">
        <h1>О компании</h1>
        <div>
            <p>Tristique orci consectetur sit felis. Sed ac auctor tellus lobortis. Enim non turpis nulla nec a sapien sit amet molestie. Et id malesuada gravida sit volutpat. Volutpat sed lectus elementum diam neque facilisis in. Convallis nibh sem in viverra quis. Interdum pharetra.</p>
            <p>Libero nunc porttitor id mi convallis ultricies convallis erat. At sagittis nisi at in diam sit.</p>
            <ul>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
            </ul>
            <p>Quam accumsan mauris enim quam. A commodo ultrices urna vitae nibh rhoncus at nisl. Duis nibh libero ut enim. Metus aliquam cursus molestie sapien risus. Suspendisse volutpat.</p> 
            <ul>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
                <li>Vivamus tincidunt non lectus odio magna semper odio risus.</li>
            </ul>
        </div>
    </div>
    <div id="mainThreeImage">
        <img id="mainThreeImage1" src="{% static "image/q.png" %}">
        <img id="mainThreeImage2" src="{% static "image/w.png" %}">
        <div>
            <p>Запрос ставки и условий погрузочно-разгрузочных работ</p>
            <span>Рассчитайте моментально стоимость полных портовых услуг в порту VISMA</span>
        </div>
    </div>
</div>
<div id="mainFour"></div>
{% endblock %}