{% extends "myapp/index.html" %}
{% load static %}
{% block content %}
<div id="mainTwo">
                    
    <div id="mainTwoText">
        <div id="mainTwoText1">
            <p id="mainTwoText0">Услуги</p>
            <a href="">
                <p>Тарифы на услуги по обеспечению контроля доступа на территорию VISMA на 2022 год</p>
                <img id="mainTwoText11" src="{% static "image/Frame 50PDFA.png" %}">
            </a>
        </div>
        <div id="mainTwoText1">
            <p id="mainTwoText0">Услуги</p>
            <a href="">
                <p>Условия определения цены договора и тарифы на работы</p>
                <img id="mainTwoText11" src="{% static "image/Frame 50PDFA.png" %}">
            </a>
        </div>
        <div id="mainTwoText1">
            <p id="mainTwoText0">Услуги</p>
            <a href="">
                <p>Договор перевалки (типовая форма)</p>
                <img id="mainTwoText11" src="{% static "image/Frame 50PDFA.png" %}">
            </a>
        </div>
    </div>

    <div id="mainTwoImage">
        <div id="mainTwoImage1">
            <p id="mainTwoImageTextV">Услуги</p>
            <p id="mainTwoImageTextN">Хранение грузов</p>
        </div>
        <div id="mainTwoImage1">
            <p id="mainTwoImageTextV">Услуги</p>
            <p id="mainTwoImageTextN">Швартовые операции</p>
        </div>
        <div id="mainTwoImage1">
            <p id="mainTwoImageTextV">Услуги</p>
            <p id="mainTwoImageTextN">Складские операции</p>
        </div>
        <div id="mainTwoImage1">
            <p id="mainTwoImageTextV">Услуги</p>
            <p id="mainTwoImageTextN">Агентское обслуживание судов</p>
        </div>
        <div id="mainTwoImage1">
            <p id="mainTwoImageTextV">Услуги</p>
            <p id="mainTwoImageTextN">Буксировка / сопровождение судов</p>
        </div>
        <div id="mainTwoImage1">
            <p id="mainTwoImageTextV">Услуги</p>
            <p id="mainTwoImageTextN">Погрузочно-разгрузочная деятельность</p>
        </div>
    </div>
    
</div>
{% endblock %}